/*over all pages*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    /* color: #d9d9d9; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* body{
    display: flex;
    flex-direction: column;
} */
/*  nav */


nav{
    background-color:  #212529;
    padding: 15px;
    display: flex;
    justify-content: space-around;
 }
 
 nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
 }
 
 nav ul li{
    margin-bottom: 10px;
    margin-left: 50px;
 }
 
 nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;
 }

 h3{
     line-height: 40px;
 }
 h3 a {
     color: #3795e2;
     text-decoration: none;
 }
 a:hover{
    color: #3795e2;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
}

.contact{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../Images/contact.jpg);
    background-position: center;
    background-size: cover;
}

i{
    color: #3795e2;
}

p, span{
    color: seashell;
}

h2{
    color: seashell;
    text-align: center;
    padding-top: 30px;
}

#contact{
    width: 70%;
    color: seashell;
    text-align: center;
    margin: 20px auto;
    line-height: 1.6;
}

.container{
    width: 80%;
    margin: 50px auto;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: space-between;
}

.info{
    margin-top: 30px;
}

label{
    display: block;
}

.adress, .email, .phone{
    margin-top: 30px;
}

span{
    color: #3795e2;
}

.infopara{
    margin-left: 20px;
    margin-top: 3px;
}

form{
    background-color: #fff;
    width: 400px;
    height: 100%;
    padding: 30px 0;
    padding-left: 20px;
}

form p{
    color: #333;
    font-weight: bold;
    font-size: 24px;
}

label{
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

input{
    border: 0;
    border-bottom: 1px solid #777;
    width: 80%;
}

.message{
    margin-bottom: 30px;
}

button{
    display: block;
    margin-bottom: 30px;
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #3795e2;
    color: seashell;
}

@media (max-width: 850px){
    .container{
        width: 80%;
        margin: 50px auto;
        /* border: 2px solid #fff; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contact{
        display: none;
    }
    .container{
        margin-top: 0;
    }
    .info{
        margin-bottom: 30px;
    }
    h3{
        display: none;
    }
    ul li a{
        font-size: 18px;
    }
}