/*over all pages*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    
body{
 overflow-x:hidden !important;
}


 /*navbar*/
ul{
    position: absolute; /*makes the navbar overlay background image*/
    width: auto;
    /*background-color: black;*/
    background-color: #212529;
    width: 100%;
    padding: 11px;
    margin-top: 31px;
}

 
ul {
    display: flex; 
    justify-content: space-evenly;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
    
ul li {
    display: inline-block;
    color: white
}
    
ul{
/* unvisited link */
color:white;
}
    
/* visited link */
a:visited {
 color: white;
}
      
/* mouse over link */
a:hover{
    color: burlywood;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
}

/* selected link */
a:active {
 color: black;
}
    
a:hover, a:visited, a:link, a:active{
 text-decoration:none;
}
 
/*navbar^*/

/*footer*/

.test-div {
    background-color: green;
}

footer {
    /*height: 200px;
    margin-top: -200px;*/
    /*
    position: fixed;*/
    bottom: 0;
    width: 100%;
    background-color: #212529;
    padding: 30px;
    display: flex;
}

footer a{
    text-decoration: none;
}

.flex{
    width: 33%;
    margin: 2%;
}

.flex h2:after{
    border-bottom: 2px solid rgb(58, 197, 76);
   content: "";
   display: block;
   width:30%;
   padding-top: 10px;
}

.btn button{
    width: 100%;
    height: 5vh;
    background-color: rgb(16, 51, 75);
}


#msgForm{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;

}

.left-box {
    flex-basis: 50%;
    padding: 10px 20px;
}


.content {
    margin: 20px 0 0 0;
}

.left-box .content .social {
    margin: 20px 0 0 0;
}

.left-box .content .social a {
    padding: 0 2px;
}

.left-box .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left-box .content .social a span:hover {
    background:blue;

}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #435abe;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}

.right {
      margin-left: auto;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg{
    margin-top: 10px;
}

.right form input, .right form .msgForm{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

/*over all pages*/ 

/*Homepage*/
#background-image{
width: 1500px;
overflow:auto;

}
    
.homepage-container #background-image{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
    
#homepage-container .content {
            position: absolute; /* Position the background text */
            top:350px; /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1; /* Grey text */
            /*padding: 25px; /* Some padding */
            text-align: right;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size:50px;
            margin-left:465px;
            margin-top:-123;
}

#homepage-info {
font-weight: 100;
font-size:65px;
}

#homepage-container {
    height: auto;
}



